<div class="option-container">
    <div class="option-header">
    <h1>Select your plan</h1>
    <p>You have the option of monthly or yearly billing.</p>
    </div>
    <div class="option">
        <div class="plan">
            <img src="/images/icon-arcade.svg" alt="icon-arcade">
            <h2>arcade</h2>
            <p>$9/mo</p>
        </div>
        <div class="plan">
            <img src="/images/icon-advanced.svg" alt="icon-advanced">
            <h2>advanced</h2>
            <p>$12/mo</p>
        </div>
        <div class="plan">
            <img src="/images/icon-pro.svg" alt="icon-pro">
            <h2>pro</h2>
            <p>$15/mo</p>
        </div>
    </div>
    <div class="billing">
            <label for="billing">Monthly Billing</label>
            <input type="checkbox" id="billing" name="billing" value="billing" checked>
            <label for="billing">Yearly Billing</label>
    </div>
</div>
