<div class="option-container">
    <div class="option-header">
    <h1>Select your plan</h1>
    <p>You have the option of monthly or yearly billing.</p>
    </div>
    <div class="options">
        <div class="option" *ngFor="let option of options">
            <div class="plan">
                <img [src]="option.icon" alt="option-icon">
                <h2>{{option.plan}}</h2>
                <p>{{option.month}}</p>
            </div>
        </div>
    </div>
    <div class="billing">
            <label for="billing">Monthly Billing</label>
            <div class="container">   
                <label class="switch">  
                    <input type="checkbox" id="theme-toggle">  
                    <span class="slider"></span>  
                </label>  
            </div>  
            <label for="billing">Yearly Billing</label>
    </div>
</div>
