<div class="summary-container">
    <div class="summary-header">
        <h1>Finishing up</h1>
        <p>Double-check everything looks OK before confirming.</p>
    </div>
    <div class="summary">
        <div class="summary-plan">
            <div class="summary-plan-icon">
                <img src="/images/icon-arcade.svg" alt="icon-arcade">
            </div>
            <div class="summary-plan-text">
                <h3>arcade</h3>
                <p>$9/mo</p>
            </div>
        </div>
        <div class="summary-add-ons">
            <div class="summary-add-on" *ngFor="let addOn of addOns">
                <div class="summary-add-on-icon">        
                    <img [src]="addOn.icon" alt="icon-arcade">
                </div>
                <div class="summary-add-on-text">
                    <h3>{{addOn.addOn}}</h3>
                    <p>{{addOn.price}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="summary-total">
        <div class="summary-total-text">
            <h3>Total (per month)</h3>
            <p>${{total}}/mo</p>
        </div>
    </div>
</div>
